  <nav>
    <div class="nav-wrapper light-blue darken-4">
      <a href="#" class="brand-logo">Establecimientos</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">        
        <li><a href="badges.html"><i class="material-icons left">perm_identity</i>INGRESAR</a></li>
      </ul>
    </div>
  </nav>

<div class="row"></div>

<div class="row">
    <form class="col s6 offset-s3">
    <h4>Busqueda Simple</h4>
      <div class="row">
        <div class="input-field">
          <i class="material-icons prefix">comment</i>
          <input id="first_name"   type="text" class="validate">
          <label for="first_name">Escriba Código o Nombre Establecimiento</label>
        </div>        
      </div>          
      
    </form>
    <div  class="col s6 offset-s3">
  <li *ngFor="let establecimiento of establecimientos">
  
    <span>{{establecimiento.id}} </span>    

  </li>
  


</div>
</div>






