


<div class="container">
        <!-- Page Content goes here -->
        <div class="col s12 z-depth-2">
     
      	<h2>Usuarios Funciona!</h2>

        <table class="col s12">
        <thead>
          <tr>
              <th data-field="id">ID</th>
              <th data-field="name">Usuario</th>
              <th data-field="price">Direccion </th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let user of users">
            <td>{{user.id}}</td>
            <td>{{user.username}}</td>
            <td>{{user.address}}</td>
          </tr>          
        </tbody>
      </table>
    	

    	</div>
        


</div>