<div class="row">
        <div class="col s3">
          <div class="card">
            <div class="card-image">
              <img src="assets/img/laja.jpg">
              <span class="card-title">Establecimientos</span>
            </div>
            <div class="card-content">
              <p>La Junta Nacional de Jardines Infantiles esta a cargo de mas de 2500 establecimientos a nivel pais.</p>
            </div>
            <div class="card-action">
              <a href="/establecimiento">Ver Establecimiento</a>
            </div>
          </div>
        </div>
        <div class="col s3">
          <div class="card">
            <div class="card-image">
              <img src="assets/img/laja.jpg">
              <span class="card-title">Funcionarios</span>
            </div>
            <div class="card-content">
              <p>La Junta Nacional de Jardines Infantiles es la institucion con mayor personal publico a nivel pais.</p>
            </div>
            <div class="card-action">
              <a href="/funcionario">Ver Funcionarios</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <funcionario-search></funcionario-search>

    </div>
