

<div class="row">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Funcionarios</span>
              <p>Funcionarios Publicos Junta Nacional de Jardines Infantiles.</p>
              <div class="input-field">
          		<input #searchBox id="search-box" (keyup)="search(searchBox.value)" type="text" class="validate">          		
          		<label for="last_name">Buscar Funcionario</label>
          		<div *ngFor="let funcionario of funcionarios | async"
                (click)="gotoDetail(funcionario)" class="search-result" >
                {{funcionario.nombresFuncionario}}
              </div>
        	  </div>
            </div>
            <div class="card-action">
              <a href="/">Regresar a Inicio</a>              
            </div>
          </div>
        </div>
        
    </div>
   