<nav class="teal lighten-2">
    <div class="nav-wrapper lighten-2">
      <a href="#!" class="brand-logo">Funcionarios</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html"> </a></li>
        <li><a href="badges.html"></a></li>
        <li><a href="collapsible.html"></a></li>
        <li><a href="mobile.html">LOGIN</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="sass.html"></a></li>
        <li><a href="badges.html"></a></li>
        <li><a href="collapsible.html"></a></li>
        <li><a href="mobile.html"></a></li>
      </ul>
    </div>
  </nav>

<div class="container">	  

        <!-- Page Content goes here -->     

    
        
    <div class="row">        
        	<div class="col s12 m12 z-depth-1">

        		<h4>Detalle Funcionarios.</h4>

        		<table>
        			<thead>
        				<tr>        					
        					<th data-field="name">NOMBRES</th>
        					<th data-field="price">APELLIDOS </th>
        					<th data-field="price">CORREO </th>
        				</tr>
        			</thead>

        			<tbody>
        				<tr *ngFor="let funcionario of funcionarios">        					
        					<td>{{funcionario.nombresFuncionario}}</td>
        					<td>{{funcionario.apellidopFuncionario}} {{funcionario.apellidomFuncionario}}</td>
        					<td>{{funcionario.correoFuncionario}}</td>
        				</tr>          
        			</tbody>
        		</table>
        	</div>
    </div>

    

</div>


